.h3 {
  color: blue;
}

.marginCheckRadio {
  margin-left: 10px;
  margin-top: 8px;
}

.mainImage {
  position: relative;
}

.xBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  font-weight: 600;
  background-color: rgba(212, 212, 212, 0.507);
}

.xBtn:hover {
  background-color: rgb(212, 212, 212);
}
